body {
    font-family: plenty, Helvetica, Arial, sans-serif;
    font-size: 14px;
    * {
        border-radius: 0px;
    }
    .btn {
        margin-bottom: 5px;
    }
    .btn-primary {
        background: rgb(0, 142, 189);
        color: #fff;
    }
    .fixed {
        position: fixed;
        width: 25%;
    }
    .scrollit {
            float: left;
            width: 71%
    }
}