body {
    font-family: plenty, Helvetica, Arial, sans-serif;
    font-size: 14px;
    * {
        border-radius: 0px;
    }
    .btn {
        margin-bottom: 5px;
        border-radius: 0px;
    }
    .btn-primary {
        background: rgb(0, 142, 189);
        color: #fff;
    }
    
    .fixed {
        position: fixed;
        width: 25%;
        height: 100%;
    }
    .scrollit {
        float: right;
        width: 71%
    }
    h5 {
        font-size: 17px;
        font-weight: bold;
    }

}